    body {
        color: red;
    }
    
    .mynav {
        background-image: url("milk.jpg");
        height: 600px;
        background-repeat: repeat-y;
        background-size: cover;
    }
    
    .navbar {
        background-color: transparent !important;
        text-align: center;
    }
    
    .navbar .navbar-brand {
        color: rgb(225, 15, 15);
        font-weight: bolder;
        font-size: 1.8em;
        font-family: cursive;
    }
    
    .navbar .navbar-nav {
        margin: 0 auto;
    }
    
    .navbar .nav-item a {
        color: red!important;
        font-weight: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .navbar .nav-link li:hover {
        color: aqua;
    }
    
    .navbar form button {
        background-color: white;
        color: rgb(151, 113, 119);
    }
    
    .navbar span {
        color: #fff;
    }
    
    .myhead h2 {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 20px;
    }
    
    .myhead p {
        text-align: center;
    }
    
    .buttons {
        text-align: center;
    }
    
    .buttons a {
        display: inline;
        color: red;
    }
    
    .navbar-light .navbar-toggler {
        border-color: transparent;
    }
    
    h4 {
        display: flex;
        flex-direction: row;
    }
    
    h4:before,
    h4:after {
        content: " ";
        flex: 1 1;
        border-bottom: 2px solid #000;
        margin: auto;
    }
    
    .imgg {
        border-bottom: 10px black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
    }
    
    .imgg img {
        margin-right: 30px;
        height: 300px;
    }
    /* element.style {
}
@media screen and (max-width: 992px)
.imgg img {
    margin-right: 20px;
    height: 200px;
    width: 150px;
} */
    
    @media screen and (max-width: 992px) {
        .imgg img {
            margin-right: 20px;
            height: 150px;
            width: 150px;
        }
    }
    
    .indbg {
        background: url(milk.jpg);
        height: 50vh;
        background-repeat: repeat-x;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 10%;
        color: white;
        font-size: larger;
        color: red !important;
    }
    
    button a {
        color: rgb(147, 29, 29) !important;
    }
    
    .lefoo {
        text-align: center;
        border: 2px solid wheat
    }
    
    .lefoo p {
        color: black;
    }
    
    .footer {
        padding-top: 20px;
        padding-left: 70px;
        background-color: black;
        color: white;
        border-bottom: 2px solid red
    }
    
    hr {
        background-color: white
    }
    
    .footer img {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }
